.dashboard .sidebar{
    display: grid;
    align-content: space-around;
    height: 100vh;
    padding: 0 30px;
    width: 13rem;
    overflow: hidden;
    position: sticky;
    top: 1rem;
}
.dashboard .sidebar .dashboard_logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.dashboard .sidebar .dashboard_logo svg{
    width: 2rem;
    font-size: 20px;
}
.dashboard .sidebar .dashboard_menu{
    display: grid;
    gap: 1rem;
}
.dashboard .sidebar .dashboard_menu a{
    display: flex;
    gap: 2rem;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
}
.dashboard .sidebar .dashboard_menu a:hover{
    background-color: black;
    color: white;
}

 @media (width < 1055px) {
    .dashboard .sidebar{width: 1rem;}
    .dashboard .adminInfo h3,
    .dashboard .adminInfo small{
        display: none;
    }
    /* .dashboard .sidebar .dashboard_menu a{
        flex-direction: column;
        gap: 10px;
    }
    .dashboard .sidebar .dashboard_menu a h3{
        font-size: 10px;
    }
    .dashboard .sidebar .dashboard_menu{
        place-items: start;
    }
    .dashboard .sidebar .dashboard_logo img{
        display: none;
    }
    .dashboard .sidebar .dashboard_logo{
        justify-content: center;
    } */
} 
